

*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: $main-font1;
    font-family: $main-font2;
    font-family: $main-font3;
    background-color: $bodyBgColor;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

html::selection {
    color: $secondBgColor ;
    background : $mainTextColor ;
}

ul {
    list-style: none;
    margin: 0;padding: 0;
}

a {
    @include reSetting-a(16px,$mainHeaderColor);
}


p{ 
    font-size: 18px;
    word-spacing: 1.5px;
    color: $textSiblingColor;
    text-transform: capitalize;
}
